@use "sass:map";
@use "./variables" as *;

@mixin mq($from) {
  $value: map.get($breakpoints, $from);
  @if $value == null {
    @error "Unknown breakpoint `#{$from}`. Available: #{map.keys($breakpoints)}";
  }
  @media (min-width: $value) {
    @content;
  }
}

@mixin container($max: $container-max, $pad: $container-pad) {
  width: min(100% - 2 * $pad, $max);
  margin-inline: auto;
}

@mixin focus-ring($color: $color-primary) {
  outline: 2px solid $color;
  outline-offset: 2px;
}
