@use "../../styles/abstracts" as *;

.skills {
  display: flex;
  flex-direction: column;
  background: $color-bg;

  .column {
    max-width: 50%;
    width: 100%;
  }

  .title {
    color: $color-heading;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-4;

    @include mq(xs) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(sm) {
      gap: $space-8;
    }

    @include mq(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .group {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    font-size: inherit;

    &[open] .groupTitle {
      color: $color-primary;
    }
  }

  .groupTitle {
    font-size: $font-size-h4;
    font-weight: 500;
    margin-bottom: $space-2;
    cursor: pointer;
    outline: none;
    color: $color-heading;
    transition: color 0.2s;

    &:hover {
      color: $color-tertiary !important;
    }

    @include mq(sm) {
      margin-bottom: $space-4;
    }
  }

  .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }

  .item {
    color: $color-paragraph;
    margin-bottom: $space-2;
    margin-bottom: 0;
  }

  .listItem {
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $color-primary;
      left: 45px;
    }

    .icon {
      margin-right: 20px;
      color: $color-primary;
    }
  }
}
