@use "../../styles/abstracts" as *;

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $space-6;

  .text {
    flex: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 38ch;
    font-size: $font-size-h4;

    .subtitle {
      .name {
        font-style: $font-secondary;
        font-weight: 600;
      }
    }
  }

  .imageWrapper {
    border: 2px solid $color-primary;
    padding: 16px;
    display: inline-block;
    margin: 0;

    .image {
      width: clamp(160px, 45vw, 280px);
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

  @include mq(xs) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: $space-2;

    .text {
      flex: 1;
      max-width: 50%;
    }

    .imageWrapper {
      margin-top: 0;
      margin-inline-start: $space-8;

      .image {
        width: 320px;
      }
    }
  }

  @include mq(lg) {
    .imageWrapper {
      margin: 0 auto;
    }
  }

  @include mq(xl) {
    .imageWrapper .image {
      width: 380px;
    }
  }
}
